{% extends "admin/base.html" %}
{% load static %}

{% block extrahead %}
<style>
.module tr td:nth-last-child(1) a, .module tr td:nth-last-child(2) a {
    display: none !important;
}
/* #content-main .object-tools a {
    display: none !important;    
} */
</style>
<script type="text/javascript" src="{% static 'web/jquery-3.3.1.min.js' %}"></script>
{% endblock %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">BROM</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}