{% extends "admin/index.html" %}

{% load i18n %} 

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">BROM</a></h1>
{% endblock %}

{% block userlinks %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
    <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
    {% endif %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block content %}
    {{ block.super }}
{% endblock %}

{% block sidebar %}{% endblock %}

